# Bot Setup
prefix=COMMAND_PREFIX_HERE
token=TOKEN_HERE
botlog=CHANNEL_ID_FOR_LOGS
debugEnabled=True_OR_False

# Database Setup
db_type=FLAT  # Either MySQL or Flat (or just leave empty for Flat SQLite)
db_user=USERNAME  # Defaults to root if empty
db_pword=PASSWORD  # Defaults to none if empty
db_host=HOST  # Defaults to localhost if empty
db_port=PORT  # Defaults to 3306

# Bot list API tokens
top.gg_token=TOKEN
discord.bots.gg_token=TOKEN
discordbotlist.com_token=TOKEN
bots.ondiscord.xyz_token=TOKEN
botsfordiscord.com_token=TOKEN
